@use './mixins' as mx;
@use './colors' as cl;

#myphoto {
  @include mx.centercontent;
  position: relative;
  margin: 20px 0;
  height: 325px;
  width: 325px;
  box-shadow: 0 0 10px grey;
  clip-path: circle(50% at 50% 50%);
  overflow: hidden;
  background-color: var(--light-font3);
  opacity: 0;
  animation: myphoto_appear .5s ease-out forwards .7s;

  &__photo {
    @include mx.centercontent;
    position: absolute;
    height: 95%;
    width: 95%;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    z-index: 100;

    img {
      position: absolute;
    }
  }

  &__loadmask {
    @include mx.centercontent;
    background-color: cl.$light-background1;
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: circle(50% at 50% 50%);
    z-index: -1;
    &__text {
      font-size: 30px;
    }
  }

  .myphoto_circle_box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }

  .myphoto_circle_box__inner {
    position: absolute;
    height: 80%;
    width: 80%;
    border-radius: 100%;
    z-index: 1000;
  }
 
}


#first {
  animation: rotate_circle 6s infinite linear;
}

#second {
  animation: rotate_circle 3s infinite linear;
}

#third {
  animation: rotate_circle 2s infinite linear;
}

#fourth {
  animation: rotate_circle 12s infinite linear;
}

#first > .myphoto_circle_box__inner {
  background-color: rgba(255, 0, 0, 0.55);
}

#second > .myphoto_circle_box__inner {
  background-color: rgba(0, 0, 255, 0.531);
}

#third .myphoto_circle_box__inner {
  background-color: rgba(0, 128, 0, 0.504);
}

#fourth .myphoto_circle_box__inner {
  background-color: rgba(255, 255, 0, 0.518);
}

/* animation and classes */

.img_normalized {
  animation: normalize_img .7s forwards;
}


@keyframes myphoto_appear {
  from {
    filter: grayscale(1);
    opacity: 0;
  }

  to {
    filter: grayscale(0); 
    opacity: 1
  }
}


@keyframes rotate_circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes normalize_img {
  from {

  }

  to {
    transform: translate(0px, 0px);
  }
}

