@use './colors' as c;

#presentation_container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px 25px;
  height: min-content;
  width: 825px;
  min-height: 300px;
  border-radius: 25px;
  overflow: hidden;
}

#presentation_outer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

/* animations */


/* paragraph */

.paragraph_container {
  width: 100%;
  height: min-content;
  text-align: center;
  font-size: 17px;

  p {
    margin: 5px 0 0 0;
  }
}



.paragraph_letter-hide {
  color: transparent;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

.paragraph_letter-shown {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  color: c.$blue-2;
}
