@use './colors' as c;
@use './mixins' as mx;

.projects {
  margin: 35px 0;
  margin-bottom: 120px;
  box-sizing: border-box; 
  padding: 10px 10px;

  .projects__box {
    display: block;
    margin: 20px 0;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
  
    .LazyLoad {
      height: 450px;
      width: 330px;
      padding: 6px 5px;
      display: grid;
      grid-template-rows: 7% 9% 65% 9% 10%;
      border: 1px solid rgba(0, 0, 0, 0.163);
      opacity: 0;
      transition-duration: .5s;
      border-radius: 10px;
      overflow: hidden;
    }

    .is-visible {
      opacity: 1;
    }

      .project {
        background-color: c.$light-background1;
        position: relative;
        height: 100%;
        width: 330px;
        transition-duration: .2s;
        border-radius: 10px;
        box-shadow: none;
        margin: 12px 12px;
        overflow: hidden;
        cursor: pointer;
        transform: scale(1.0090) rotate3d(-.5, .25, -.05, 10deg);
        
        &:hover {
          transform: none;
          .project__glasseffect{
            transition-duration: .18s;
            top: 40%;
            opacity: .8;
          }
        }

        &__glasseffect {
          position: absolute;
          top: -90%;
          left: 20%;
          height: 120%;
          width: 175px;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0.052), rgba(255, 255, 255, 0.149));
          transform: translateY(0);
          transform: rotate(65deg);
          transition-duration: 100ms;
          transition-timing-function: ease-out;
          transition-delay: 25ms;
          opacity: .2;
          pointer-events: none
        }

        &__name {
          @include mx.centercontent;
          height: 100%;
          width: 100%;
          
          span {
            font-size: 25px;
            font-family: 'Nunito', sans-serif;
            align-items: center;
            color: c.$light-font1;
          }
        }

        &__info {
          @include mx.centercontent;
          margin: unset;

          span {
            margin: none;
            width: 100%;
            text-align: center;
            line-height: 1;
            color: c.$light-font6;
            font-size: 14px;
            font-family: 'Nunito', sans-serif;
            margin-bottom: 10px;
          }
        }

        &__imgbox {
          @include mx.centercontent;
          height: 100%;
          width: 100%;
          background-color: c.$light-font5;
          padding: 0 10px;
          overflow: hidden;
          border-radius: 5px;

          &__img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }

        &_tecs {
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid rgba(128, 128, 128, 0.281);
          
          &__tecbox {
            @include mx.centercontent;
            position: relative;
            height: 30px;
            width: 30px;
            margin: 0 5px;
            z-index: 100;
            transition-duration: .2s;
            cursor: pointer;
            
            &:hover {
              transform: scale(1.1, 1.1);
            }

            &__icon {
              position: absolute;
              height: 100%;
              width: 100%;

              &.resizable {
                height: 80%;
              }
            }

            .rotatable {
              animation: rotation 7s linear infinite;
            };

            @keyframes rotation {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(359deg);
              }
            }
          }
        }

        &__links {
          @include mx.centercontent;
          height: 100%;
          width: 100%;
          padding: 2px 0;
          
          &__box {
            height: 100%;
            width: 50px;
            cursor: pointer;

            &__link {
              @include mx.centercontent;
              height: 100%;
              width: 50px;

              &__icon.ant-tooltip-open {
                transition-duration: .3s;
                color: c.$dark-background6;
              }
              
              &__icon {
                height: 90%;
                width: 90%;
                color: #0d1117;
              }
            }
          }
        }
 
      }
    }
   
  }





