@use './colors' as c;
@use './mixins' as mx;

.projects {
  margin: 35px 0;
  box-sizing: border-box;

  &__titlebox {
    display: grid;
    grid-template-rows: 70% 30%;
    height: 70px;
    width: 100%;
    margin-bottom: 40px;

    &__title {
      @include mx.centercontent;
      font-family: 'Nunito', sans-serif;
      font-size: 25px;
      -webkit-user-select: none;
      user-select: none;
    }

    &__iconbox {
      @include mx.centercontent;

      &__icon {
        height: 50px;
        width: 50px;
      }
    }
  }  

  .projects__box {
    display: block;
    margin: 20px 0;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    .LazyLoad {
      height: 600px;
      width: 400px;
      padding: 5px;
      display: grid;
      grid-template-rows: 7% 13% 70% 10%;
      box-shadow: 0 0 5px black;
      border-radius: 10px;
      margin: 20px 0;
      opacity: 0;
      transition-duration: .5s;
    }

    .is-visible {
      opacity: 1;
    }

      .project {

        &__name {
          @include mx.centercontent;
          height: 100%;
          width: 100%;
          
          span {
            font-size: 25px;
            font-family: 'Nunito', sans-serif;
            align-items: center;
          }
        }

        &__info {
          @include mx.centercontent;

          span {
            width: 100%;
            text-align: center;
            color: grey;
            font-size: 14px;
            font-family: 'Nunito', sans-serif;
          }
        }

        &__imgbox {
          height: 100%;
          width: 100%;
          background-color: grey;
          padding: 0 10px;
          overflow: hidden;
          border-radius: 5px;

          &__img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
 
      }
    }
   
  }





