
#box {
  perspective: 1000px;
  width: 100vw;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#circle {
  position: absolute;
  height: 50px;
  width: 50px;
  background: linear-gradient(#333, #777);
  border-radius: 50%;
  animation: orbit 2000ms linear infinite;
}


@keyframes orbit {
  0% {

  }

  
}