@use '_colors' as c;
@use '_mixins' as mx;

#theme_s {
  @include mx.centercontent;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 10px;
  right: 10px;

  &__icon-light {
    @include mx.themeicon;
    color: c.$light-font1;
  }
  
  &__icon-dark {
    @include mx.themeicon;
    color: c.$light-background3;
  }
}





