@use 'styles/_mixins.scss';

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*:visited {
  color: inherit;
}

#App {
  @include mixins.app;
}

#background__pattern {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #e8e8e8;
  opacity: 0.15;
  background-image:  linear-gradient(30deg, #a0a0a0 12%, transparent 12.5%, transparent 87%, #a0a0a0 87.5%, #a0a0a0), linear-gradient(150deg, #a0a0a0 12%, transparent 12.5%, transparent 87%, #a0a0a0 87.5%, #a0a0a0), linear-gradient(30deg, #a0a0a0 12%, transparent 12.5%, transparent 87%, #a0a0a0 87.5%, #a0a0a0), linear-gradient(150deg, #a0a0a0 12%, transparent 12.5%, transparent 87%, #a0a0a0 87.5%, #a0a0a0), linear-gradient(60deg, #a0a0a077 25%, transparent 25.5%, transparent 75%, #a0a0a077 75%, #a0a0a077), linear-gradient(60deg, #a0a0a077 25%, transparent 25.5%, transparent 75%, #a0a0a077 75%, #a0a0a077);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  z-index: -1200;
}

:root {
  /* colores basicos para el light theme */
  --light-background1: #ebebeb;
  --light-background2: #f0f0f0;
  --light-background3: #f5f5f5;
  --light-background4: #f9f9f9;
  --light-background5: #fafafa;
  --light-font1:  #333333;
  --light-font2:  #3c3c3c;
  --light-font3:  #404040;
  --light-font4:  #444444;
  --light-font5: #555555;
 
  --dark-background1: #291321;
  --dark-background2: #40162f;
  --dark-background3: #551c3b;
  --dark-background4: #1a1325;
  --dark-background5: #24163a;
  --dark-background6: #301c4d;
  --dark-font1: #f3f3f3;
  --dark-font2: #e0e0e0;
  --dark-font3: #cbcbcb;

}

// @font-face {
//   font-family: "matrixSymbols1";   /*Can be any text*/
//   src: local("matrixSymbols1"),
//     url("./fonts/matrix\ code\ nfi.ttf") format("truetype");
// }

// @font-face {
//   font-family: "matrixSymbols2";   /*Can be any text*/
//   src: local("matrixSymbols2"),
//     url("./fonts/matrix\ code\ nfi.otf") format("opentype");
// }
